/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: relative;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 7%;
  background: var(--main-bg-color);
  color: var(--text-color)
}

body::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: transparent;
  opacity: 0.5;
  background-image:  linear-gradient(var(--text-color) 1px, transparent 1px), linear-gradient(to right, var(--text-color) 1px, transparent 1px);
  background-size: 4px 4px;
  z-index: 1;
  top: 0;
}

.button {
  width: fit-content;
  min-width: 130px;
  padding: 10px;
  /* padding: 10px 36px; */
  border: 2px solid var(--text-color);
  border-radius: 0;
  background: none;

  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  
}

.button_icon {
  border: 0;
  background: none;
}

.header {
  position: relative;
  z-index: 2;

  display: flex;
  gap: 20px;
  flex-direction: column;

  max-width: 700px;
  margin: 0 auto;
  padding: 9.5% 0 1.5%;
  border: 2px solid var(--text-color);
  background: var(--main-bg-color);
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
}

.header__subtitle {
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
}

.theme-menu {
  width: fit-content;
  margin: 0 auto;
  padding-left: 16px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  text-align: left;
}

.theme-menu__button {
  padding: 3px 0;
  border: 0;
  background: none;
  
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  position: relative;
  color: rgb(from var(--text-color) r g b / 50%);
}

.theme-menu__button:disabled::before {
  content: '\25B6';
  position: absolute;
  left: -20px;
  color: rgb(from var(--text-color) r g b / 50%);
}

.main-content {
  max-width: 700px;
  margin: 7% auto;
  font-family: var(--main-font);
}

.article {
  position: relative;
  z-index: 2;

  margin-bottom: 7%;
  border: 2px solid var(--text-color);
  background: var(--main-bg-color);
}

.article__header {
  padding: 4px 10px;
  border-bottom: 2px solid var(--text-color);
}

.article__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
}

.article__content {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.article__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.article__paragraph {
  padding: 20px 24px 8px;
}

.article__bottom {
  display: flex;
  align-items: end;
  gap: 8px;

  padding: 16px 24px 26px;
  width: fit-content;
  margin-inline-start: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 7%;
}

.save-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;

  padding: 16px 20px;
  line-height: 12.6px;
}

.button_icon__image {
  width: 21px;
  height: 21px;
}

@media (width <= 440px) {

  .page {
    padding-top: 27%;
  }

  .header {
    margin-bottom: 27%;
    padding: 31.5% 0 6.5%;
  }

  .header__title {
    font-size: 49px;
    line-height: 49px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 14px;

  }
}

@media (width <= 375px) {

  .article__image img {
    max-width: 375px;
  }

  .article__paragraph {
    padding: 18px 26px 8px 24px;
  }

  .footer {
    margin-top: 14%;
  }

  .save-button {
    flex-direction: column;
    gap: 0;
    padding: 13px 20px;
  }

  .button_icon__image {
    width: 28px;
    height: 28px;
  }
}