/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --text-color: #000;
    --accent-color: rgba(#000, 0.6);
    --main-bg-color: #FFF;
    --accent-bg-color: ;

    --main-font: 'Inter Variable';
    --accent-font: 'PressStart2P Regular';
}

@media (prefers-color-scheme: dark) {
    .page {
        --text-color: #00CC14;
        --accent-color: rgba(#00CC14, 0.6);
        --main-bg-color: #000;
        --accent-bg-color: ;

        --main-font: 'Inter Variable';
        --accent-font: 'PressStart2P Regular';
    }

}

@media (prefers-color-scheme: light) {
    .page {
        --text-color: #000;
        --accent-color: rgba(#000, 0.6);
        --main-bg-color: #FFF;
        --accent-bg-color: ;

        --main-font: 'Inter Variable';
        --accent-font: 'PressStart2P Regular';
    }
}